<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ventaComputer</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap/bootstrap.css}">
    <script th:src="@{/styles/bootstrap/bootstrap.bundle.css}" type="text/javascript"></script>
</head>
<body>
<div class="card">
    <div class="card-header">
        Venta de Computadoras
    </div>
    <div class="card-body">
        <form th:action="@{/Calcularprecio}" method="post" th:object="${commodel}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtcomp" placeholder="name@example.com" th:field="*{cpm}">
                <label for="txtcomp">Ingresar cantidad de Computadoras a comprar :</label>
            </div>
            <button type="submit" class="btn btn-outline-warning">Calcular</button>
            <div th:if="${visualizar}" class="alert" th:classappend="${coloralert}" role="alert">
                <span th:text="${diagnostico} ?: ''"></span>
            </div>
        </form>
    </div>
</div>

</body>
</html>